
@{

    ViewBag.Title = "ChartFlot";
    Layout = "~/Views/Shared/_mooseUI.cshtml";
}


<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 p-r-0 title-margin-right">
                <div class="page-header">
                    <div class="page-title">
                        <h1>
                            Hello,
                            <span>@Session["firstName"].ToString()</span>
                        </h1>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <div class="col-lg-4 p-l-0 title-margin-left">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Chart-Flot</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /# column -->
        </div>
        <!-- /# row -->
        <section id="main-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Real Chart</h4>
                        </div>
                        <div class="flot-container">
                            <div id="cpu-load" class="cpu-load"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Line Chart</h4>
                        </div>
                        <div class="flot-container">
                            <div id="flot-line" class="flot-line"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Pie Chart</h4>
                        </div>
                        <div class="flot-container">
                            <div id="flot-pie" class="flot-pie-container"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Line Chart</h4>
                        </div>
                        <div class="flot-container">
                            <div id="chart1"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Bar Chart</h4>
                        </div>
                        <div class="flot-container">
                            <div id="flotBar"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Curve Line</h4>
                        </div>
                        <div class="flot-container">
                            <div id="flotCurve"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->
            </div>
        </section>
    </div>
    <script src="@Url.Content("~/Content/assets/")js/lib/flot-chart/excanvas.min.js"></script>
    <script src="@Url.Content("~/Content/assets/")js/lib/flot-chart/jquery.flot.js"></script>
    <script src="@Url.Content("~/Content/assets/")js/lib/flot-chart/jquery.flot.pie.js"></script>
    <script src="@Url.Content("~/Content/assets/")js/lib/flot-chart/jquery.flot.time.js"></script>
    <script src="@Url.Content("~/Content/assets/")js/lib/flot-chart/jquery.flot.stack.js"></script>
    <script src="@Url.Content("~/Content/assets/")js/lib/flot-chart/jquery.flot.resize.js"></script>
    <script src="@Url.Content("~/Content/assets/")js/lib/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="@Url.Content("~/Content/assets/")js/lib/flot-chart/curvedLines.js"></script>
    <script src="@Url.Content("~/Content/assets/")js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <script src="@Url.Content("~/Content/assets/")js/lib/flot-chart/flot-chart-init.js"></script>
</div>
